{% extends 'base.html' %}
{% load static %}

{% block head_links %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock head_links %}
    

{% block content %}
    <div class="container">
        <h1 class="py-3 main-heading">Password Reset</h1>
        <div class="content">
            <p>An email containing a password reset link has been sent.</p>
            <p class="my-2">
                <a href="{% url 'login' %}">Back to login</a>
            </p>
        </div>
    </div>
{% endblock content %}