{% extends 'base.html' %}
{% load static %}

{% block head_links %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock head_links %}
    
{% block content %}
    <div class="container">
        <h1 class="py-3 main-heading">Confirm Password Reset</h1>
        <div class="content">
            <form method="POST">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Confirm" class="btn btn-secondary">
            </form>
        </div>
    </div>
{% endblock content %}