<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.michael-patterson.com/static/css/lib/bootstrap.custom.min.css"
        integrity="sha384-y2rdS/b5e4VDzM+//8MniQ8IB+ukU6j7zq5Z2Wz00+fSDUjlVUUny6Rh1x6GodOb" crossorigin="anonymous">

    <!-- 404 CSS -->
    <link rel="stylesheet" href="https://www.michael-patterson.com/static/css/fof.css"
        integrity="sha384-YpIrT6zf3Jnn82uUcGMuxwtonAM4GRcyQbYnwTnm9/QLxPK8DQIOVfeRn+u9guS7" crossorigin="anonymous">

    <title>404 Page Not Found</title>
</head>

<body class="bg-black text-white">
    <div class="container-fluid">
        <div class="row vh-100">
            <h1 class="pt-3">404 Page Not Found</h1>
            <h2 class="pt-3 text-center">I'm sorry Dave, I'm afraid I can't do that.</h2>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <a class="text-white bg-black" href="https://www.michael-patterson.com">
                    <img class="img-fluid"
                        src="https://res.cloudinary.com/dkc5rsxrn/image/upload/v1629498307/artificial-intelligence-155161_1280_dwh0ng.png"
                        alt="Hal 9000">
                </a>
            </div>
            <div class="col-sm-4"></div>
            <p class="text-center">
                <a href="https://www.michael-patterson.com">www.michael-patterson.com</a>
            </p>
        </div>
    </div>

</body>

</html>