{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- preload -->
        {% block preload %}{% endblock preload %}
        <link
            rel="preload"
            as="image"
            href="{% static 'images/m_p_logo_50.png' %}"
        />
        <link
            rel="preload"
            as="style"
            href="{% static 'css/lib/bootstrap.custom.min.css' %}"
        />
        <link
            rel="preload"
            as="style"
            href="{% static 'css/lib/hamburgers.custom.min.css' %}"
        />
        <link
            rel="preload"
            as="style"
            href="{% static 'css/lib/animate.custom.min.css' %}"
        />
        <link rel="preload" as="style" href="{% static 'css/base.css' %}" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script
            async
            nonce="{{ nonce }}"
            src="https://www.googletagmanager.com/gtag/js?id=UA-77337691-4"
        ></script>

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        {% block meta_description %}{% endblock meta_description %}

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="{% static 'css/lib/bootstrap.custom.min.css' %}"
        />

        <!-- favicon -->
        <link
            rel="shortcut icon"
            type="image/png"
            href="{% static 'images/m_p_favicon.png' %}"
        />

        <!-- hamburgers -->
        <link rel="stylesheet" href="{% static 'css/lib/hamburgers.custom.min.css' %}" />

        <!-- animate css -->
        <link rel="stylesheet" href="{% static 'css/lib/animate.custom.min.css' %}" />

        <!-- Google Fonts -->
        <!-- none -->

        <!-- base css -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />

        {% block head_links %}{% endblock head_links %}

        <!-- prettier-ignore -->
        <title>
            {% if title and post.title %}
                {{ title }}: {{ post.title }} -
            {% elif title %}
                {{ title }} -
            {% elif post.title %}
                {{ post.title }} -
            {% endif %}
            Mike Patterson - Web Developer
        </title>

        <!-- json ld -->
        {% block json_ld %}{% endblock json_ld %}
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img
                        id="nav-brand"
                        src="{% static 'images/m_p_logo_50.png' %}"
                        width="50"
                        height="50"
                        alt="Mike Patterson"
                    />
                </a>
                <button
                    class="navbar-toggler hamburger hamburger--slider animate__animated animate__rubberBand"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <!-- <span class="navbar-toggler-icon"></span> -->
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav me-auto text-center">
                        <li class="nav-item">
                            <a
                                class="nav-link {{ home_active }}"
                                aria-current="{{ home_aria_current|default:'false' }}"
                                href="{% url 'home' %}"
                                >Home</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link {{ about_active }}"
                                aria-current="{{ about_aria_current|default:'false' }}"
                                href="{% url 'about' %}"
                                >About</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link {{ contact_active }}"
                                aria-current="{{ contact_aria_current|default:'false' }}"
                                href="{% url 'contact' %}"
                                >Contact</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link {{ blog_active }}"
                                aria-current="{{ blog_aria_current|default:'false' }}"
                                href="{% url 'blog' %}"
                                >Blog</a
                            >
                        </li>
                    </ul>
                    <ul
                        class="navbar-nav me-2 ml-auto text-center"
                    >
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Blog Menu
                            </a>
                            <ul
                                class="dropdown-menu"
                                aria-labelledby="navbarDropdown"
                            >
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="{% url 'blog' %}"
                                        >Blog Home</a
                                    >
                                </li>
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="{% url 'post-list-all' %}"
                                        >All Posts</a
                                    >
                                </li>
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="{% url 'category-list' %}"
                                        >Categories</a
                                    >
                                </li>
                                {% if user.is_authenticated %}
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        href="/admin/blog/post/add"
                                        >New Post</a
                                    >
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                    <div class="ml-4">
                        <form
                            method="GET"
                            action="/blog/search/"
                            class="d-flex input-group"
                        >
                            <input
                                class="form-control"
                                type="search"
                                placeholder="Blog Search"
                                aria-label="Blog Search"
                                aria-describedby="basic-addon2"
                                name="q"
                                value="{{ request.GET.q }}"
                            />
                            <button
                                class="btn btn-outline-primary input-group-text"
                                id="basic-addon2"
                                type="submit"
                            >
                                Search
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>

        {% block header %}{% endblock header %}

        <main class="container">{% block content %}{% endblock content %}</main>

        <!-- Bootstrap JavaScript -->
        <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}" defer></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
        {% block foot_links %}{% endblock foot_links %}
        <!-- base js -->
        <script
            type="text/javascript"
            src="{% static 'js/base.js' %}"
            defer
        ></script>
    </body>
</html>
