{% extends 'base.html' %}
{% load static %}


{% block preload %}
<link rel="preload" as="image" href="{% static 'images/icons/envelope-regular.svg' %}">
{% endblock preload %}


{% block head_links %}
<!-- google recaptcha -->
<script nonce="{{ nonce }}" src="https://www.google.com/recaptcha/api.js" async defer></script>
<!-- email js -->
<script nonce="{{ nonce }}" src="{% static 'js/email.js' %}"></script>
{% endblock head_links %}

{% block content %}
<main class="container">
    <h1 class="py-3 main-heading">Contact</h1>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div class="row py-3">
        <div class="col-md-3"></div>
        <section class="col-md-6">
            <h4 class="py-3">
                <i class="me-3"><img src="{% static 'images/icons/envelope-regular.svg' %}" alt="envelope icon"></i>
                Send Me A Message
            </h4>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="g-recaptcha mb-1" data-sitekey="{{ reCAPTCHA_site_key_v2 }}" data-callback="enableBtn"
                    data-expired-callback="disableBtn"></div>
                <div class="form-actions">
                    <button class="btn btn-primary" id="submit-btn" type="submit" disabled>Send</button>
                </div>
            </form>
        </section>
        <div class="col-md-3"></div>
    </div>
</main>
    {% endblock content %}


    {% block footer %}
    <footer>
        <a href="https://fontawesome.com/license" target="_blank">Font Awesome License</a>
    </footer>
    {% endblock footer %}