header {
    background-image: url('https://images.unsplash.com/photo-1613025952818-57743137f1db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');
    background-color: rgb(118, 135, 152);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
header h1 {
    color: rgb(250, 250, 250);
    font-family: 'Audiowide', sans-serif;
}
header p {
    color: rgb(250, 250, 250);
    padding: 0.5rem;
    border-radius: 5px;
    max-width: 45ch;
}
p > a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

/* Extra small screens, portrait phones, 567px and down */
@media only screen and (max-width: 567px) {
    header {
        background-position: center;
        background-size: cover;
        padding: 0 1em;
        height: 92vh;
    }
    header h1 {
        font-size: 4rem;
    }
    header p {
        background: linear-gradient(
            0deg,
            rgba(47, 70, 79, 0.7) 0%,
            rgba(119, 136, 153, 0) 90%
        );
        font-size: 1.25rem;
    }
}

/* Small screens, portrait tablets, 568px and up  */
@media only screen and (min-width: 568px) {
    header {
        background-position: bottom left;
        background-size: 175%;
        padding: 2em 1em;
        height: 80vh;
    }
    header h1 {
        font-size: 4rem;
    }
    header p {
        background: linear-gradient(
            270deg,
            rgba(47, 70, 79, 0.7) 0%,
            rgba(119, 136, 153, 0) 99%
        );
        font-size: 1.25rem;
    }
}

/* Medium screens, landscape phones and tablets, 768px and up */
@media only screen and (min-width: 768px) {
    header {
        background-size: 185%;
        padding: 0 0 0 5em;
        height: 92vh;
    }
    header h1 {
        font-size: 5rem;
    }
    header p {
        font-size: 1.5rem;
    }
}

/* Medium screens, landscape phones and tablets, 812px and up */
/* iPhone X landscape */
@media only screen and (min-width: 812px) {
    header {
        background-size: 175%;
    }
}

/* Large screens, laptops and desktops, 992px and up */
@media only screen and (min-width: 992px) {
    header {
        background-size: 185%;
    }
}

/* Extra large screens, desktops, large laptops, and tv's, 1200px and up */
@media only screen and (min-width: 1200px) {
    header {
        background-size: 155%;
    }
}
