{% extends 'blog/post_list.html' %}
{% load static %}


{% block blog_main_content %}

    <form method="GET" action="/blog/categories/filter/">

        {% for category in object_list %}
        <div class="p-3 mb-3 post-entry d-flex">

            <input class="btn btn-light" type="submit" name="category" value="{{ category.category_name }}">

            {% if user.is_authenticated %}
            <div class="btn btn-danger ms-auto">
                <a class="text-dark" href="/admin/blog/postcategory/{{ category.pk }}/delete/">Delete</a>
            </div>
            {% endif %}

        </div>
        {% endfor %}

    </form>

{% endblock blog_main_content %}