{% extends 'blog/blog_base.html' %}
{% load static %}


{% block blog_main_content %}
    
{% for post in object_list %}
<article class="p-3 mb-3 post-entry">
    {% if post.published == False %}
    <h4 class="bg-warning p-1">This post is not published.</h4>
    {% endif %}
    <a href="{% url 'post-detail' post.slug %}"><img class="mb-3" src="{{ post.image }}" alt="Post Featured Image"></a>
    <h2 class="mb-3"><a href="{% url 'post-detail' post.slug %}">{{ post.title }}</a></h2>
    <p>{{ post.body|truncatewords_html:50|safe }}</p>
    <a class="btn btn-outline-primary" href="{% url 'post-detail' post.slug %}">Read More</a>
</article>
{% endfor %}

{% endblock blog_main_content %}
