{% extends 'blog/blog_base.html' %}
{% load static %}


{% block json_ld %}
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": ["ItemList", "Blog"],
                "name": "{{ title }} - {{ request.site.name }}",
                "itemListElement":[
                    {% for post in object_list %}
                    {
                        "@type":["ListItem", "BlogPosting"],
                        "position":{{ forloop.counter }},
                        "url":"{{ request.scheme }}://{{ request.site }}{% url 'post-detail' post.slug %}",
                        "headline": "{{ post.title }}",
                        "image": "{{ post.image }}"
                    }{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ]
            }
        </script>
{% endblock json_ld %}


{% block content %}
<section>
    <h1>{{ title }}</h1>
    <a class="btn btn-primary" href="{% url 'blog' %}">Blog</a>
    <a class="btn btn-primary" href="{% url 'category-list' %}">Categories</a>

        {% for post in object_list %}
            <div class="post-entry">
                {% if post.published == False %}
                <h4 class="bg-warning p-1">This post is not published.</h4>
                {% endif %}
                <h2><a href="{% url 'post-detail' post.slug %}">{{ post.title }}</a></h2>
                <p>{{ post.body|truncatewords_html:50|safe }}</p>
            </div>
        {% empty %}
            <p class="mt-5">Search returned no results.</p>
        {% endfor %}
</section>
{% endblock content %}