{% extends 'base.html' %}
{% load static %}

{% block head_links %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock head_links %}
    

{% block content %}
<div class="container">
    <h1 class="main-heading">Login</h1>
    <div class="login mx-auto">
        <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-secondary w-100" type="submit" value="Login">
        </form>
        <p class="my-2">
            <a href="{% url 'dashboard' %}">Back to dashboard</a>
        </p>
    </div>
</div>
{% endblock content %}
    