{% extends 'base.html' %}
{% load static %}


{% block preload %}
<link rel="preload" as="image" href="{% static 'images/icons/linkedin-brands.svg' %}">
<link rel="preload" as="image" href="{% static 'images/icons/github-brands.svg' %}">
<link rel="preload" as="image" href="{% static 'images/icons/twitter-brands.svg' %}">
{% endblock preload %}


{% block meta_description %}{% endblock meta_description %}


{% block content %}
<main class="container">
    <h1 class="py-3 main-heading">About</h1>
    <div class="row py-3">
        <div class="col-md-2"></div>
        <div class="col-md-6 py-3">
            <nav class="btn-group py-3" role="group" aria-label="Social Links">
                <a class="btn btn-light border" href="https://www.linkedin.com/in/mike-patterson-web-developer/"
                    target="_blank" title="Linkedin">
                    <i>
                        <img src="{% static 'images/icons/linkedin-brands.svg' %}" alt="linkedin">
                    </i>
                </a>
                <a class="btn btn-light border" href="https://github.com/mppatterson84" target="_blank" title="GitHub">
                    <i>
                        <img src="{% static 'images/icons/github-brands.svg' %}" alt="github">
                    </i>
                </a>
                <a class="btn btn-light border" href="https://twitter.com/suchamike" target="_blank" title="Twitter">
                    <i>
                        <img src="{% static 'images/icons/twitter-brands.svg' %}" alt="twitter">
                    </i>
                </a>
            </nav>
            <article>
                <p>
                    My name is Mike.
                    I'm a full stack web developer.
                </p>
                <p>
                    My main focus is frontend development with HTML, CSS, and Javascript
                    and backend development with Python, Django, and PostgreSQL.
                </p>
            </article>
        </div>
        <div class="col-md-2 py-3 d-flex flex-column justify-content-center">
            <div class="text-center">
                <a href="{% url 'projects' %}" class="btn btn-primary btn-lg">Projects</a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</main>
{% endblock content %}


{% block footer %}
<footer>
    <a href="https://fontawesome.com/license" target="_blank">Font Awesome License</a>
</footer>
{% endblock footer %}