{% extends 'base.html' %}
{% load static %}


{% block preload %}
    <link rel="preload" as="image" href="{% static 'images/icons/linkedin-brands.svg' %}">
    <link rel="preload" as="image" href="{% static 'images/icons/github-brands.svg' %}">
    <link rel="preload" as="image" href="{% static 'images/icons/twitter-brands.svg' %}">
{% endblock preload %}


{% block content %}
<section class="about-container">
    <h1>About</h1>
    <div class="row">
        <div class="col-lg-6 py-3">
            <div class="btn-group mb-4" role="group" aria-label="Social Links">
                <a class="btn btn-light border" href="https://www.linkedin.com/in/mike-patterson-web-developer/" target="_blank" title="Linkedin">
                    <!-- <i class="fab fa-linkedin fa-2x"></i> -->
                    <i>
                        <img src="{% static 'images/icons/linkedin-brands.svg' %}" alt="" srcset="">
                    </i>
                </a>
                <a class="btn btn-light border" href="https://github.com/mppatterson84" target="_blank" title="GitHub">
                    <!-- <i class="fab fa-github fa-2x"></i> -->
                    <i>
                        <img src="{% static 'images/icons/github-brands.svg' %}" alt="" srcset="">
                    </i>
                </a>
                <a class="btn btn-light border" href="https://twitter.com/suchamike" target="_blank" title="Twitter">
                    <!-- <i class="fab fa-twitter fa-2x"></i> -->
                    <i>
                        <img src="{% static 'images/icons/twitter-brands.svg' %}" alt="" srcset="">
                    </i>
                </a>
            </div>
            <p>
                Hello, World! My name is Mike. 
                I'm a full stack web developer.
            </p>
            <p>
                My approach to programming comes from a curiosity for technology
                and a drive for creativity.
            </p>
            <p>
                My main focus is frontend development with HTML, CSS, and Javascript 
                and backend development with Python, Django, and PostgreSQL.
            </p>
            <p>
                
            </p>
        </div>
        <div class="col-lg-6 py-3">
            <div class="text-center mb-4">
                <a href="{% url 'contact' %}" class="btn btn-primary btn-lg">Contact Me</a>
            </div>
            <div class="w-50 m-auto">
                <img src="https://image.shutterstock.com/z/stock-vector-default-avatar-profile-icon-grey-photo-placeholder-518740741.jpg" alt="avatar image">
            </div>
        </div>
    </div>
</section>
<footer>
    <a href="https://fontawesome.com/license" target="_blank">Font Awesome License</a>
</footer>
{% endblock content %}
