{% extends 'base.html' %}
{% load static %}


{% block preload %}
<link rel="preload" as="image" href="{% static 'images/icons/linkedin-brands.svg' %}">
<link rel="preload" as="image" href="{% static 'images/icons/github-brands.svg' %}">
<link rel="preload" as="image" href="{% static 'images/icons/twitter-brands.svg' %}">
{% endblock preload %}


{% block meta_description %}{% endblock meta_description %}


{% block content %}
<main class="container">
    <h1 class="py-3 main-heading">About</h1>
    <div class="row py-3">
        <div class="col-md-2"></div>
        <div class="col-md-6 py-3">
            <nav class="btn-group py-3" role="group" aria-label="Social Links">
                <a class="btn btn-light border" href="https://www.linkedin.com/in/mike-patterson-web-developer/"
                    target="_blank" title="Linkedin">
                    <i>
                        <img src="{% static 'images/icons/linkedin-brands.svg' %}" alt="linkedin">
                    </i>
                </a>
                <a class="btn btn-light border" href="https://github.com/mppatterson84" target="_blank" title="GitHub">
                    <i>
                        <img src="{% static 'images/icons/github-brands.svg' %}" alt="github">
                    </i>
                </a>
                <a class="btn btn-light border" href="https://twitter.com/suchamike" target="_blank" title="Twitter">
                    <i>
                        <img src="{% static 'images/icons/twitter-brands.svg' %}" alt="twitter">
                    </i>
                </a>
            </nav>
            <article>
                <p>
                    My name is Mike. I am a Web Developer. I've always been fascinated by technology and am especially
                    interested in the internet. Few technologies have changed the way people live, as the internet has.
                    We can access information about nearly any subject in an instant. Connecting with anyone in any
                    place around the world is easier than ever.
                </p>

                <p>
                    Web Development and programming, in general, require continuous learning to stay on top of current
                    and rising technologies. Through self-learning, made possible by the modern web, I've acquired the
                    skills that allow me to create websites. Continuous learning is one of my favorite aspects of the
                    profession.
                </p>

                <p>
                    My curiosity and desire to solve problems drives me to learn. I enjoy the challenges of working out
                    solutions and acquiring new skills as needed. I'm a quick study, able to conceptualize new
                    technologies that I want to learn.
                </p>

                <p>
                    My expertise is in front-end web development with HTML, CSS, and Javascript and back-end software
                    development with Python, Django, and Postgres.
                </p>

                <p>
                    Aside from web development, some of my interests and skills include: guitar/music/DAW recording,
                    cooking, learning about science, nature, and history, video games, movies (who doesn't like
                    movies?), DIY home repair, and DIY car repair.
                </p>
            </article>
        </div>
        <div class="col-md-2 py-3 d-flex flex-column justify-content-center">
            <div class="text-center">
                <a href="{% url 'projects' %}" class="btn btn-primary btn-lg">Projects</a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</main>
{% endblock content %}


{% block footer %}
<footer>
    <a href="https://fontawesome.com/license" target="_blank">Font Awesome License</a>
</footer>
{% endblock footer %}