{% extends 'base.html' %}
{% load static %}


{% block preload %}
<link rel="preload" as="image" href="https://images.unsplash.com/photo-1613025952818-57743137f1db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80">
<link rel="preload" as="style" href="{% static 'css/home.css' %}">
{% endblock preload %}


{% block head_links %}
    <!-- home css -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head_links %}


{% block header %}
    <header>
        <div>
            <h1>Hello, World!</h1>
            <p>
                My name is Mike. I'm a Web Developer.
                I create spectacular websites.
            </p>
            <a class="btn btn-lg btn-light" href="{% url 'about' %}">Learn More About</a>
        </div>
    </header>
{% endblock header %}
    

{% block content %}
    <section>
        <h2>What I Do</h2>
        <p>
            I create websites that are search engine optimized, fast, and secure.
        </p>
        <ul>
            <li>
                <h3>Search Engine Optimization</h3>
                <p>
                    I configure websites to <a rel="noopener" href="https://developers.google.com/search" target="_blank">Google SEO</a> standards which improves
                    the chances a site will show up in search results
                    in any search engine.
                </p>
            </li>
        </ul>
        <a class="btn btn-lg btn-success" href="{% url 'about' %}">Learn More About</a>
    </section>
{% endblock content %}
