{% extends 'base.html' %}
{% load static %}


{% block preload %}
<link rel="preload" as="image"
    href="https://images.unsplash.com/photo-1612694537513-b772cb21f725?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80&orient=0&sat=25&bri=10">
<link rel="preload" as="image"
    href="https://images.unsplash.com/photo-1586769852836-bc069f19e1b6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=768&q=80">
<link rel="preload" as="image"
    href="https://images.unsplash.com/photo-1559303970-6d3f3a61b1b4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=768&q=80">
<link rel="preload" as="image"
    href="https://images.unsplash.com/photo-1614064746579-4918e0ef6e9c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=768&q=80">
<link rel="preload" as="style" href="{% static 'css/home.css' %}">
{% endblock preload %}


{% block meta_description %}
<meta name="description"
    content="Mike Patterson Web Developer. My name is Mike. I'm a Web Developer. I create spectacular websites." />
{% endblock meta_description %}


{% block head_links %}
<!-- home css -->
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head_links %}


{% block header %}
<header class="d-flex justify-content-around align-items-baseline align-items-md-center mb-3 p-3">
    <div>
        <h1 class="m-3">Mike Patterson</h1>
        <h2 class="m-3">Web Developer</h2>
        <p class="p-3">
            My name is Mike. I'm a Web Developer.
            I create spectacular websites.
        </p>
        <a class="btn btn-lg btn-light m-3" href="#What-I-Do">What I Do</a>
    </div>
    <div></div>
</header>
{% endblock header %}


{% block content %}
<main id="What-I-Do" class="container">
    <div class="row py-3">
        <div class="col-md-8 col-lg-6 mx-auto">
            <section class="p-3">
                <h3>What I Do</h3>
                <p>
                    I create websites that are search engine optimized, fast, and secure.
                </p>
            </section>
        </div>
    </div>

    <div class="row py-3">
        <div class="col-md-6 col-xl-4 py-3">
            <section class="card">
                <img class="card-img-top"
                    src="https://images.unsplash.com/photo-1586769852836-bc069f19e1b6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=768&q=80"
                    alt="search">
                <div class="card-body">
                    <h5 class="card-title">Search Engine Optimization</h5>
                    <p class="card-text">
                        By applying SEO
                        <a rel="noopener" href="https://developers.google.com/search" target="_blank">recommended by
                            Google</a>,
                        I configure websites to improve the chances
                        of showing a webpage in top search results.
                    </p>
                    <p>
                        See the results of searching Google for
                        <a rel="noopener" href="https://www.google.com/search?q=mike+patterson+web+developer"
                            target="_blank">Mike Patterson Web Developer</a>.
                    </p>
                </div>
            </section>
        </div>
        <div class="col-md-6 col-xl-4 py-3">
            <section class="card">
                <img class="card-img-top"
                    src="https://images.unsplash.com/photo-1559303970-6d3f3a61b1b4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=768&q=80"
                    alt="speed">
                <div class="card-body">
                    <h5 class="card-title">Website Speed</h5>
                    <p class="card-text">
                        I use tools such as
                        <a rel="noopener"
                            href="https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fwww.michael-patterson.com%2F&tab=desktop"
                            target="_blank">Google Page Speed Insights</a>
                        to evaluate and improve webpage load speed.
                    </p>
                </div>
            </section>
        </div>
        <div class="col-md-6 col-xl-4 mx-auto py-3">
            <section class="card">
                <img class="card-img-top"
                    src="https://images.unsplash.com/photo-1614064746579-4918e0ef6e9c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=768&q=80"
                    alt="security">
                <div class="card-body">
                    <h5 class="card-title">Website Security</h5>
                    <p class="card-text">
                        I use tools such as
                        <a rel="noopener" href="https://observatory.mozilla.org/analyze/www.michael-patterson.com"
                            target="_blank">Mozilla Observatory</a>
                        to identify and correct security vulnerabilities
                        that a website might have.
                    </p>
                </div>
            </section>
        </div>
    </div>

    <div class="row py-3">
        <div class="col-md-8 col-lg-6 mx-auto">
            <section class="p-3">
                <h3>Additionally</h3>
                <p>
                    Implementing a CDN like
                    <a rel="noopener" href="https://www.cloudflare.com/cdn/" target="_blank">Cloudflare</a>
                    provides a boost in performance with an added layer of security.
                </p>
                <a class="btn btn-lg btn-success" href="{% url 'about' %}">Learn More About</a>
            </section>
        </div>
    </div>

</main>
{% endblock content %}