{% extends 'base.html' %}
{% load static %}

{% block header %}{% endblock header %}

{% block content %}
<main class="container-fluid">
    <h1 class="py-3 main-heading">Projects</h1>
    <div class="row py-3">
        <div class="col-md-4 py-3">
            <section class="card">
                <img src="https://res.cloudinary.com/dkc5rsxrn/image/upload/v1624816144/Mike-Patterson-Web-Developer-screenshot_n6xxrd.png"
                    class="card-img-top" alt="michael-patterson.com frontpage" />
                <div class="card-body">
                    <h5 class="card-title">Michael-Patterson.com</h5>
                    <p class="card-text">My website built with Django.</p>
                </div>
                <div class="card-body">
                    <a href="https://michael-patterson.com" class="card-link">Michael-Patterson.com</a>
                    <a href="https://github.com/mppatterson84/michael_patterson.com" class="card-link">GitHub
                        Repository</a>
                </div>
            </section>
        </div>
        <div class="col-md-4 py-3">
            <section class="card">
                <img src="https://res.cloudinary.com/dkc5rsxrn/image/upload/v1624816252/Rock-Paper-Scissors-screenshot_lo8ghn.png"
                    class="card-img-top" alt="Rock, Paper, Scissors Game" />
                <div class="card-body">
                    <h5 class="card-title">Rock Paper Scissors Game</h5>
                    <p class="card-text">
                        A rock, paper, scissors game built with HTML, CSS, and
                        Javascript.
                    </p>
                </div>
                <div class="card-body">
                    <a href="https://michael-patterson.com/rock-paper-scissors/" class="card-link">Play The Game</a>
                    <a href="https://github.com/mppatterson84/rock-paper-scissors" class="card-link">Github
                        Repository</a>
                </div>
            </section>
        </div>
        <div class="col-md-4 py-3">
            <section class="card">
                <img src="https://res.cloudinary.com/dkc5rsxrn/image/upload/v1624816798/0EA90AA1-95C3-41E1-94E9-A20800211B0A_vot1bz_vjxpvi.jpg"
                    class="card-img-top" alt="Rock, Paper, Scissors Game" />
                <div class="card-body">
                    <h5 class="card-title">Raspberry Pi Car</h5>
                    <p class="card-text">
                        An RC car modified to be controlled programmatically
                        with a Raspberry Pi.
                    </p>
                </div>
                <div class="card-body">
                    <a href="https://michael-patterson.com/blog/control-an-rc-car-with-a-raspberry-pi-and-gamepad/"
                        class="card-link">More About</a>
                    <a href="https://github.com/mppatterson84/gamepad_controlled_car" class="card-link">Github
                        Repository</a>
                </div>
            </section>
        </div>
    </div>

    <div class="row py-3">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <section class="p-3">
                <div class="text-center mb-4">
                    <a href="{% url 'contact' %}" class="btn btn-primary btn-lg">Contact Me</a>
                </div>
            </section>
        </div>
        <div class="col-md-3"></div>
    </div>
</main>

{% endblock content %}
