{% extends 'base.html' %}
{% load static %}

{% block preload %}
<link rel="preload" as="image"
    href="https://res.cloudinary.com/dkc5rsxrn/image/upload/v1625010412/Mike-Patterson-Web-Developer-screenshot_lcc6x8.png">
<link rel="preload" as="image"
    href="https://res.cloudinary.com/dkc5rsxrn/image/upload/v1624816252/Rock-Paper-Scissors-screenshot_lo8ghn.png">
<link rel="preload" as="image"
    href="https://res.cloudinary.com/dkc5rsxrn/image/upload/v1624816798/0EA90AA1-95C3-41E1-94E9-A20800211B0A_vot1bz_vjxpvi.jpg">
<link rel="preload" as="image"
    href="https://res.cloudinary.com/dkc5rsxrn/image/upload/v1625016329/June-Wordpress-Theme-screenshot_mnokcl.png">
{% endblock preload %}

{% block header %}{% endblock header %}

{% block content %}
<main class="container">
    <h1 class="py-3 main-heading">Projects</h1>

    <!-- Django Website -->
    <section class="card my-5">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="https://res.cloudinary.com/dkc5rsxrn/image/upload/v1629461485/Mike-Patterson-Web-Developer_bfcdlb.png"
                    class="card-img-top" alt="michael-patterson.com frontpage" />
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Michael-Patterson.com</h5>
                    <p class="card-text">A full-featured website built with Python, Django, and PostgreSQL.</p>
                    <ul>
                        <li>
                            Blog App
                            <ul>
                                <li>
                                    Rich text editing with django-ckeditor.
                                </li>
                                <li>
                                    Images served via Cloudinary API.
                                </li>
                                <li>
                                    A unique slug generator if posts have the same title.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Contact App
                            <ul>
                                <li>
                                    SendGrid email API integration.
                                </li>
                                <li>
                                    Google reCAPTCHA integration.
                                </li>
                            </ul>
                        </li>
                        <li>
                            SEO
                            <ul>
                                <li>Fast website performance.</li>
                                <li>Structured data with JSON-LD.</li>
                            </ul>
                        </li>
                        <li>
                            Security
                            <ul>
                                <li>
                                    Custom middleware to manage HTTP headers for improved security.
                                    <ul>
                                        <li>Content Security Policy</li>
                                        <li>Strict Transport Security</li>
                                        <li>Cache-Control</li>
                                    </ul>
                                </li>
                                <li>Environment variables to hide sensitive data.</li>
                            </ul>
                        </li>
                        <li>
                            Other
                            <ul>
                                <li>PostgreSQL database.</li>
                                <li>Cloudflare DNS integration.</li>
                                <li>Google Analytics.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="p-3">
                    <a href="https://michael-patterson.com" class="card-link" target="_blank">Michael-Patterson.com</a>
                    <a href="https://github.com/mppatterson84/michael_patterson.com#readme" class="card-link"
                        target="_blank">GitHub
                        Repository</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Tasks App -->
    <section class="card my-5">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="https://res.cloudinary.com/dkc5rsxrn/image/upload/v1629461880/Tasks-App_hx1q1b.png"
                    class="card-img-top" alt="michael-patterson.com frontpage" />
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Tasks App</h5>
                    <p class="card-text">A task app built with React.js that connects with an API built with Django REST framework.</p>
                    <ul>
                        <li>
                            Authentication using the django-allauth package: Register new users, login, and logout.
                        </li>
                        <li>
                            Create tasks and store them in a database, mark tasks complete, and delete tasks.
                        </li>
                    </ul>
                </div>
                <div class="p-3">
                    <a href="https://tasks.michael-patterson.com" class="card-link" target="_blank">Tasks App</a>
                    <a href="https://github.com/mppatterson84/michael_patterson.com/tree/master/tasks" class="card-link"
                        target="_blank">Django API App Repository</a>
                    <a href="https://github.com/mppatterson84/mp-tasks" class="card-link"
                        target="_blank">
                        React App Repository
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- June WordPress Theme -->
    <section class="card my-5">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="https://res.cloudinary.com/dkc5rsxrn/image/upload/v1625016329/June-Wordpress-Theme-screenshot_mnokcl.png"
                    class="card-img-top" alt="June Wordpress Theme" />
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">June WordPress Theme</h5>
                    <p class="card-text">
                    <ul>
                        <li>
                            A custom WordPress theme built from scratch following theme development standards.
                        </li>
                        <li>
                            Modified pagination function to handle Bootstrap styling.
                        </li>
                        <li>
                            Developed theme customizer options.
                        </li>
                        <li>
                            Integrated JSON-LD to provide structured data for posts.
                        </li>
                    </ul>
                    </p>
                </div>
                <div class="p-3">
                    <a href="https://wp.michael-patterson.com" class="card-link" target="_blank">Demo</a>
                    <a href="https://github.com/mppatterson84/June" class="card-link" target="_blank">GitHub
                        Repository</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Rock, Paper, Scissors Game -->
    <section class="card my-5">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="https://res.cloudinary.com/dkc5rsxrn/image/upload/v1624816252/Rock-Paper-Scissors-screenshot_lo8ghn.png"
                    class="card-img-top" alt="Rock, Paper, Scissors Game" />
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Rock Paper Scissors Game</h5>
                    <p class="card-text">
                        A rock, paper, scissors game built with HTML, CSS, and
                        Javascript.
                    </p>
                </div>
                <div class="p-3">
                    <a href="{% url 'rock-paper-scissors' %}" class="card-link" target="_blank">Play The Game</a>
                    <a href="https://github.com/mppatterson84/rock-paper-scissors" class="card-link"
                        target="_blank">Github
                        Repository</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Raspberry Pi Car -->
    <section class="card my-5">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="https://res.cloudinary.com/dkc5rsxrn/image/upload/v1624816798/0EA90AA1-95C3-41E1-94E9-A20800211B0A_vot1bz_vjxpvi.jpg"
                    class="card-img-top" alt="Rock, Paper, Scissors Game" />
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Raspberry Pi Car</h5>
                    <p class="card-text">
                        An RC car, modified to be controlled programmatically
                        with a Raspberry Pi.
                    </p>
                </div>
                <div class="p-3">
                    <a href="https://michael-patterson.com/blog/control-an-rc-car-with-a-raspberry-pi-and-gamepad/"
                        class="card-link" target="_blank">More About</a>
                    <a href="https://github.com/mppatterson84/gamepad_controlled_car" class="card-link"
                        target="_blank">Github
                        Repository</a>
                </div>
            </div>
        </div>
    </section>

    <div class="row py-3">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <section class="p-3">
                <div class="text-center mb-4">
                    <a href="{% url 'contact' %}" class="btn btn-primary btn-lg">Contact Me</a>
                </div>
            </section>
        </div>
        <div class="col-md-3"></div>
    </div>
</main>

{% endblock content %}